@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 115%;
  }

  body {
    @apply bg-white text-gray-600 dark:text-gray-400 dark:bg-dark transition-colors;
  }

  a {
    @apply text-blue-600 font-semibold transition-colors;
  }

  button {
    @apply outline-none select-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-gray-900 dark:text-white transition-colors;
  }

  h1 {
    @apply text-xl md:text-xxl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }
}

@layer components {
  .paragraphs p {
    @apply mb-4;
  }

  .block {
    @apply py-6;
  }

  .block h2 {
    @apply mb-6 md:mb-8;
  }

  .btn {
    @apply py-3 px-5 font-semibold text-xs text-gray-500 border-solid border-4 border-gray-300 dark:border-gray-700 select-none rounded-full transition-colors;
  }

  .btn:hover {
    @apply text-white bg-blue-600 border-blue-600;
  }

  .icon {
    @apply block p-2;
  }

  .icon svg {
    @apply fill-gray transition-colors;

    width: 24px;
  }

  .icon:hover svg {
    @apply fill-blue;
  }
}
