@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 115%;
  }

  body {
    @apply bg-white text-gray-600 dark:text-gray-400 dark:bg-dark transition-colors;
  }

  a {
    @apply text-blue-500 font-semibold transition-colors;
  }

  button {
    @apply select-none;
  }

  button:focus {
    @apply outline-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-gray-900 dark:text-gray-100 transition-colors;
  }

  h1 {
    @apply text-xl md:text-xxl;
  }

  h2 {
    @apply text-lg md:text-xl;
  }
}

@layer components {
  .paragraphs p {
    @apply mb-4;
  }

  .block {
    @apply py-6;
  }

  .block h2 {
    @apply mb-6 md:mb-8;
  }

  .btn {
    @apply py-3 px-5 font-semibold text-xs text-gray-500 border-solid border-4 border-gray-300 dark:border-gray-700 select-none rounded-full transition-colors;
  }

  .btn:hover {
    @apply text-white bg-blue-500 border-blue-500;
  }

  .icon {
    @apply block p-2 w-9;
  }

  .icon svg {
    @apply fill-gray transition-colors;
  }

  .icon:hover svg {
    @apply fill-blue;
  }

  .icon-light,
  .icon-dark {
    @apply stroke-gray;
  }

  .icon-light:hover svg {
    @apply fill-yellow stroke-yellow;
  }

  .icon-dark:hover svg {
    @apply fill-purple stroke-purple;
  }
}
